/* PAGE BACKGROUND */
.login-page {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    #0b132b 0%,
    #111c3c 50%,
    #0b132b 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  font-family: "Inter", system-ui, sans-serif;
}

/* LOGIN CARD */
.login-card {
  width: 90%;
  max-width: 360px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(14px);
  border-radius: 22px;
  padding: 32px 24px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.45);
  text-align: center;
}

/* LOGO */
.logo-box {
  width: 80px;
  height: 80px;
  background: #6a6af4;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 30px rgba(106, 106, 244, 0.45);
}
.logo-box img {
  border-radius: 20px;   /* <-- this is the key */
}

.error-text {
  color: #e53935;          /* red */
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: center;
  font-weight: 500;
}


/* TITLES */
.title {
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 28px;
}

/* INPUTS */
.input-wrapper {
  position: relative;
  margin-bottom: 16px;
}

.input-wrapper input {
  width: 100%;
  padding: 15px 48px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: rgba(255, 255, 255, 0.06);
  color: #ffffff;
  font-size: 14px;
  outline: none;
}

.input-wrapper input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  opacity: 0.6;
}

.input-eye {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  opacity: 0.6;
}

/* BUTTON */
.login-btn {
  width: 100%;
  margin-top: 14px;
  padding: 16px;
  border-radius: 14px;
  background: #6a6af4;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(106, 106, 244, 0.45);
}

/* FORGOT PASSWORD */
.forgot-link {
  margin-top: 20px;
  font-size: 14px;
  color: #6a6af4;
  text-decoration: none;
}

/* DEMO ACCOUNTS */
.demo-box {
  width: 90%;
  max-width: 360px;
  margin-top: 30px;
  padding: 20px 22px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.08);
  color: #ffffff;
}

.demo-box h3 {
  font-size: 15px;
  margin-bottom: 14px;
}

.demo-row {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  opacity: 0.9;
  margin-bottom: 8px;
}
